.landing-page-container {
text-align: center;
background-image: url("./components/landing.jpg");
position: absolute;
top: 0px; 
bottom: 0px; 
width: 100%;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}

/*This is staking my links next to each other and 
keeping them from being on top of each other*/
.navbar-container{
  overflow: hidden; 
border-image-repeat: stretch;
/* background-image: url("./components/logo.png"); */
object-fit:scale-down;
 padding-top: 200px; 
object-position: 30px 10%; 
/* /* width: 940px; */
  
}

.user-wrap{
  float:left;
}

/*This is controling my text that links me to diff pages
its centering my links and spacing them from each other*/
.navbar-btn {
  float: left;
  padding-right: 10px;
  padding-left: 100px;

}

.logo-wrap{
 text-align: left;
 width: 100px;
 /* font-size: xx-large; */
 font-family:'Lucida Sans', 'Lucida Sans Regular';
 /* background-color: blue; */
 margin-left: 100px;
 /* margin-top: 100px; */
}



/*this is wrapped around my navbar div
its creating my nav bars box*/
.wrap {
background-image: url("./components/banner.jpeg");
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}

.searchBar {
float:right;
place-items: center;
/* float:left; */
padding-right: 100px;
padding-left: 20px;
}

.display-card {
  background-color: aqua;
}


.nav-links {
  overflow: hidden;
  background-color: #333;
}

/* Navbar links */
.nav-links  h2 {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}

.nav-links h2:hover {
  background-color: #ddd;
  color: black;
  cursor:pointer;
}

.log-out{
  float:right;
  padding-right: 100px;
}

.log-in{
  padding-top: 35%;
}