App {
  text-align: center;
  background-color: #FCF4F4;
  color: #a17e7e;
 
}

/*This is staking my links next to each other and 
keeping them from being on top of each other*/
.navbar-container{
  overflow: hidden; 
/* border-image-repeat: stretch; */
/* background-image: url("./components/banner.jpeg"); */
/* object-fit:scale-down; */
padding-top: 200px;
/* object-position: 30px 10%; */
/* width: 940px; */
  
}

.user-wrap{
  float:left;
}

/*This is controling my text that links me to diff pages
its centering my links and spacing them from each other*/
.navbar-btn {
  float: left;
  padding-right: 10px;
  padding-left: 100px;
  color: #a17e7e;
  

}

.logo{
 text-align: left;
 font-size: xx-large;
 font-family:'Lucida Sans', 'Lucida Sans Regular';
}



/*this is wrapped around my navbar div
its creating my nav bars box*/
.wrap {
background-image: url("./components/banner.jpeg");
background-position: center;
background-repeat: no-repeat;
background-size: cover;
padding-top: 100px;
/* padding-bottom:100px; */
}


.searchBar {
float:right;
place-items: center;
}

.display-card {
  background-color: aqua;
}